<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="nz.org.winters.android.things.RF24">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="false">
        <uses-library android:required="false" android:name="com.google.android.things"/>
    </application>

</manifest>
